/* Define CSS Variables */
:root {
    --primary-color: #007BFF; /* Blue */
    --primary-hover: #0056b3; /* Darker Blue for hover */
    --secondary-color: #0056b3; /* Pinkish */
    --secondary-hover: #007BFF; /* Darker Pink for hover */
    --background-color: #f4f4f4;
    --card-background: white;
    --text-color: #333;
    --header-footer-radius: 5px;
    --box-shadow: rgba(0, 0, 0, 0.1);
}

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: var(--secondary-color); 
    color: white;
    border-radius: var(--header-footer-radius);
}

.header-image {
    width: 100px;
    height: auto;
}

.site-title {
    font-size: 1.8em;
}

.nav-links {
    display: flex;
}

.navigation a {
    margin-right: 15px;
    color: white;
    font-weight: bold;
}

.search-bar {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

.search-button {
    padding: 5px 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Movie Cards */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.movie-card {
    background: var(--card-background);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow);
    transition: transform 0.3s;
}

.movie-card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.book-button {
    padding: 10px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

/* Footer */
.site-footer {
    text-align: center;
    padding: 20px;
    background: var(--secondary-color);
    color: white;
    margin-top: auto;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .site-header {
        flex-direction: column;
        align-items: center;
    }

    .container {
        /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
        display: flex;
        flex-direction: column;
    }

    .movie-card h3 {
        font-size: 1.1em;
    }
}

@media (max-width: 400px) {
    .site-title {
        font-size: 1.2em;
    }

    .book-button {
        font-size: 0.9em;
    }
}
